{% extends 'items/base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div>
        <h1>{{ page_title }}</h1>
    </div>
    <section>
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}$</p>
        <button id="buy-button" >Buy {{ item.name }}</button>
        <script>
            const buyButton = document.getElementById("buy-button");
            const buyUrl = "{% url 'buy' buy_id=item.pk %}";
            buyButton.addEventListener("click", async function () {
                const response = await fetch(buyUrl);
                const session = await response.json();
                window.location.href = session.url;
            });
        </script>
    </section>
{% endblock %}