{% extends 'items/base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div>
        <h1>{{ page_title }}</h1>
    </div>
    <section>
        <h2>Cart</h2>
        {% for item in order.items.all %}
            <h3>{{ item.name }}</h3>
            <p>Name: {{ item.name }}</p>
            <p>Description: {{ item.description }}</p>
            <p>Price: {{ item.price }}$</p>
        {% endfor %}
        {% if order.discount %}
            <h3>Discount: {{ order.discount.percent }}%</h3>
        {% endif %}
        {% if order.tax and not order.tax.inclusive %}
            <h3>Tax: {{ order.tax.percent }}%</h3>
        {% endif %}
        <h2>Total</h2>
        <p>{{ price }}$</p>
        <button id="buy-button" >Buy order №{{ order.pk }}</button>
        <script>
            const buyButton = document.getElementById("buy-button");
            const buyUrl = "{% url 'order_buy' buy_order_id=order.pk %}";
            buyButton.addEventListener("click", async function () {
                const response = await fetch(buyUrl);
                const session = await response.json();
                window.location.href = session.url;
            });
        </script>
    </section>
{% endblock %}